.Wrapper {
  background-image: url('https://images.pexels.com/photos/4064174/pexels-photo-4064174.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.progress {
  width: 300px;
  height: 300px;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 2px 17px 3px rgba(138, 138, 138, 0.3);
  box-shadow: 4px 2px 17px 3px rgba(138, 138, 138, 0.3);
  background: rgba(246, 246, 246, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
}

.sleepInfo {
  margin-left: 30px;
  padding: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 2px 17px 3px rgba(138, 138, 138, 0.3);
  box-shadow: 4px 2px 17px 3px rgba(138, 138, 138, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
}

.sleepIcon {
  font-size: 40px;
}

.sleepInfo .top h1 {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 26px;
}
.top {
  margin-bottom: 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomList {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.highfen {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.bottomList .key {
  font-weight: 600;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.993);
}
.bottomList .value {
  font-weight: 600;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.747);
}

.btn button {
  padding: 10px 40px;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: rgba(28, 28, 28, 0.436);
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
}

.btn button:hover {
  transform: translateY(-5px);
  background-color: rgba(146, 139, 139, 0.323);
}

.stats {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.statsList {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.statsList p {
  font-size: 20px;
}
