.contact {
  background-color: rgba(0, 0, 0, 0.732);
}
.contact_container {
  width: 70%;
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 12%;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option {
  background-color: rgba(0, 0, 0, 0.558);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.contact_option:hover {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.422);
  cursor: defalut;
}

form button {
  font-weight: 500;
  font-size: 18px;
}

.icons {
  font-size: 25px;
  color: white;
  margin-bottom: 0.5rem;
}

.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid rgb(48, 40, 40);
  resize: none;
  color: white;
  font-weight: 500;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.693);
}

input:focus,
textarea:focus {
  border: 2px solid rgb(67, 70, 78);
}

/* ================================= MEDIA QUERIES (MEDIUM DEVICES) ================================= */

/* @media screen and (max-width: 1024px) {
  .contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
} */

/* ================================= MEDIA QUERIES (SMALL DEVICES) ================================= */

/* @media screen and (max-width: 600px) {
    .contact_container {
      width: var(--container-width-sm);
    }
  } */
